<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gmail.catdog_puga24.trackplane">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.mainPage.view.TotalInformationActivity" />
        <activity android:name=".ui.authorization.view.AuthorizationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.newFlight.view.NewFlightActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.newFlight.view.NewFlightToTypeActivity" />
    </application>

</manifest>